<button (click)="carregaPopulars()">Carregar Populars</button>

<app-formulari-cerca />

@if (elementService.carregant()) {
  <div class="spinner">
    <p>Carregant...</p>
    <div class="spinner-animation"></div>
  </div>
}

@if (elementService.error()) {
  <div class="error">
    <p>{{ elementService.error() }}</p>
    <button (click)="reintentar()">Reintentar</button>
  </div>
}

@if (!elementService.carregant() && !elementService.error()) {
  <cdk-virtual-scroll-viewport
    itemSize="alcadaElement"
    style="height: 500px; overflow: auto;"
  >
    <div *cdkVirtualFor="let element of elementService.elements()">
      <app-element-card
        [element]="element"
        [esPreferit]="esPreferit(element.id)"
        (togglePreferit)="togglePreferit($event)"
      ></app-element-card>
    </div>
  </cdk-virtual-scroll-viewport>
}