<div class="preferits-panel">
  <h2>Preferits ({{ preferitsService.totalPreferits() }})</h2>
  <div class="preferits-list">
    @for (preferit of preferitsService.preferits(); track preferit.id) {
      <div class="card">
        <h3>{{ preferit.titol }}</h3>
        <p>ID: {{ preferit.id }}</p>
        <p>{{ preferit.descripcio }}</p>
        <button (click)="togglePreferit(preferit)">
          {{ esPreferit(preferit.id) ? 'Eliminar preferit' : 'Marcar com a preferit' }}
        </button>
        <h4>Notes:</h4>
        <form [formGroup]="formulari">
          <div [formArrayName]="preferit.id.toString()">
            @for (noteControl of getNotesFormArray(preferit.id).controls; track $index; let index = $index) {
                <input type="text" [formControlName]="index" placeholder="Nota..."  (blur)="guardarNota(preferit.id, index)">
                <div *ngIf="getErrorMessage(preferit.id, index)">
                  {{ getErrorMessage(preferit.id, index) }}
                </div>
                <button type="button" (click)="eliminarNota(preferit.id, index)">x</button>
            }
          </div>
        </form>
        <button type="button" (click)="afegirNota(preferit.id)">+</button>
      </div>
    }
  </div>
</div>