<nav>
  <ul>
    <li>
      <a routerLink="/cataleg" routerLinkActive="active">Inici</a>
    </li>
    <li>
      <a routerLink="/cerca" routerLinkActive="active">Cerca</a>
    </li>
    <li>
      <a routerLink="/preferits" routerLinkActive="active">Preferits</a>
    </li>
    <li>
      <div *ngIf="(usuari$ | async) as usuari; else noAutenticat">
        <span>{{ usuari.nom }}</span>
        <button (click)="logout()">Tancar sessió</button>
      </div>
      <ng-template #noAutenticat>
        <a routerLink="/login" routerLinkActive="active">Iniciar sessió</a>
      </ng-template>
    </li>
  </ul>
  
</nav>